* {
    font-family: 'Merriweather Sans', sans-serif;
}

header {
    background: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%), url('../resources/Banner\ Image.png');
    max-width: 1320px;
    width: 82%;
    height: 600px;
    margin: 0 auto;
    border-radius: 16px;

}

.banner {
    color: #FFF;
    text-align: center;
    font-family: Merriweather;
    align-items: center;
    padding-left: 70px;

}

.banner h4 {
    font-size: 32px;
    font-weight: 400;
    padding-top: 170px;
}

.banner ,
h3 {
    font-size: 72px;
    font-weight: 900;
    /* padding-top: -20px; */
    /* padding-bottom: 700px; */
    /* width: 800px; */

}

.off-section {
    text-align: center;

}

.off-section img {
    width: 82%;
    max-width: 720px;
}

.div-content h2 {

    color: #F00;
    font-family: Inter;
    font-size: 88px;
}

.div-content p {
    color: #F00;
    font-family: Inter;
    font-size: 24px;
}

.div-content h5 {
    color: #070211;
    font-family: Inter;
    font-size: 48px;
}

.sec-section {
    background-image: linear-gradient(90deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%), url('../resources/Vectorrr.png');
    width: 82%;
    max-width: 1320px;
    height: 600px;
    margin: 70px auto;
    display: flex;
    border-radius: 16px;

}


.sec-section-img {
    width: 300px;
    height: 420px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 70px;
}

.section-content {
    text-align: left;
    padding-left: 125px;
    /* padding-top: px; */
}

.section-content h1 {
    color: #FFF;
    font-family: Merriweather;
    font-size: 64px;
    font-style: normal;
    font-weight: 900;
    line-height: 88px;
    letter-spacing: 7px;
}

#midnight {
    width: 700px;
    padding-top: 125px;
    
}

.section-content p {
    color: rgba(255, 255, 255, 0.80);
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    width: 600px;
}

#join-button {
    color: #FFF;

    font-family: Inter;
    font-size: 20px;
    /* text-decoration: none; */
    font-weight: 700;
    background: none;
    border: none;


}

.sec-info {
    background: linear-gradient(180deg, rgba(255, 0, 0, 0.10) 0%, rgba(255, 0, 0, 0.00) 100%);
    width: 82%;
    max-width: 1320px;
    height: 470px;
    margin: 20px auto;
    border-radius: 16px;
}

.text-primary {
    color: #F00;
}

.info-content {
    text-align: center;
    font-family: Inter;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: 56px;
    /* width: 500px; */
   
    

}

#info-button {

    padding: 16px 32px;
    border-radius: 8px;
    background: #F00;
    text-align: center;
}

